# Arquivos e pastas gerados pelo build
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Arquivos compilados específicos do Java
*.class

# Arquivos de log
*.log
logs/

# Arquivos de IDEs (Ambientes de Desenvolvimento)
# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# NetBeans
.nb-gradle/
build/
nbbuild/
dist/
nbdist/
.nb-private/
build.xml

# VS Code
.vscode/

# Arquivos de pacotes e archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db